<html>
	<head>
	    <title>Jira Adapter Configuration</title>
	    <meta name="decorator" content="atl.admin"/>
	</head>
	<body>
	$webResourceManager.requireResourcesForContext("ru.homecredit.jiraadapter:jiraadapter-web-resource")
	    <script type="text/javascript">
          AJS.toInit(function () {
            alert("template script running");
            AJS.$(".conf-page-field-picker").auiSelect2();
            alert("template script finished");
          });
        </script>
		<div class="description" style="color:red">
			#if ($errorMessage)
				$customFieldsIds $errorMessage
			#end
		</div>
		<form class="aui"
			action="${baseurl}/secure/action/ConfigurationWebworkAction.jspa"
			method="post" id="customFieldsIdsForm" name="customFieldsIdsForm">
			<div class="field-group">
			<label for"customFieldsIds">Custom Field's IDs</label>
				<!-- <textarea class="textarea medium-long-field" -->
				<input class="text" value="$currentSettings"
				name="customFieldsIds" id="customFieldsIds"
				></textarea>
				<div class="description">Put comma separated customfields keys here</div>
			</div>
		    <div class="buttons-container">
			    <div class="buttons">
			    <input class="button" type="submit" value="Save customfields keys">
				</div>
			</div>
		</form>
		<form class="conf-page-field-picker">
				#disable_html_escaping()
                #customControlHeader ($action $displayParameters $auiparams)
				<select  id="conf-page-field-picker-id"
                    multiple name="conf-page-field-picker-name">
                    <option></option>
                    #foreach($customFieldKey in $customFieldsKeysList)
                        <div class="description" style="color:red">
							contains - $savedCustomFieldsKeysList.contains($customFieldKey)
                        </div>
                        <option value="$customFieldKey"
                            #if ($savedCustomFieldsKeysList && $savedCustomFieldsKeysList.contains($customFieldKey))
                               selected="selected"
                            #end
                        >$cfValueEncoder.encodeForHtml($customFieldKey)</option>
                    #end
                </select>
                #customControlFooter ($action $displayParameters $auiparams)
		</form>
	</body>
</html>
