<html>
	<head>
	    <title>Jira Adapter Configuration</title>
	    <meta name="decorator" content="atl.admin"/>
	</head>
	<body>
		<div class="description" style="color:red">
			#if ($errorMessage)
				$customFieldsIds $errorMessage
			#end
		</div>
		<form class="aui"
		action="${baseurl}/secure/action/ConfigurationWebworkAction.jspa"
		method="post" id="customFieldsIdsForm" name="customFieldsIdsForm">
			<div class="field-group">
			<label for"customFieldsIds">Custom Field's IDs</label>
				<!-- <textarea class="textarea medium-long-field" -->
				<input class="text" value="$currentSettings"
				name="customFieldsIds" id="customFieldsIds"
				></textarea>
				<div class="description">Put comma separated customfields keys here</div>
			</div>
		    <div class="buttons-container">
			    <div class="buttons">
			    <input class="button" type="submit" value="Save customfields keys">
				</div>
			</div>
		</form>
	</body>
</html>
