<html>
	<head>
	    <title>Jira Adapter Configuration</title>
	    <meta name="decorator" content="atl.admin"/>
	    $webResourceManager.requireResourcesForContext("jiraadapter")
	</head>
	<body>
        <script type="text/javascript">
	        AJS.$(document).ready(function() {
		        AJS.$(".custom-fields-keys-select-class").auiSelect2();
		        AJS.$(".users-to-save-select-class").auiSelect2();
	        });
        </script>
        <text>$message</text>
        #foreach($setting in $currentSettings)
            <form class="aui select2-custom-field-picker" method="post"
            id="custom-fields-keys-form" name="custom-fields-keys-form-name">
	            <text><b>settings group: $setting.getID()</b><br></text>
		        <div class="field-group">
		            <label for="description">Description</label>
		            <input class="text" type="text" id="description"
		                name="description" value="$setting.getDescription()">
		        </div>
		        <div class="field-group">
					<label for"customFieldsKeysToSave">Custom Field's keys</label>
					<select name="customFieldsKeysToSave" id="custom-fields-keys-select"
						class="custom-fields-keys-select-class"
						class="multi-select" multiple="multiple">
		                <option></option>
		                #foreach($customFieldKey in $allCustomFieldsKeys)
		                    <option value="$customFieldKey"
		                        #if ($setting.getFieldsKeys().contains($customFieldKey))
		                           selected="selected"
		                        #end
		                    >$cfValueEncoder.encodeForHtml($customFieldKey)</option>
		                #end
		            </select>
	            </div>
                <div class="field-group">
		            <label for"usersToSave">Users, allowed to edit these fields</label>
	                <select name="usersToSave" id="users-to-save-select"
	                class="users-to-save-select-class"
	                    class="multi-select" multiple="multiple">
	                    <option></option>
	                    #foreach($userKey in $allUsers)
	                        <option value="$userKey"
	                            #if ($setting.getUsersKeys().contains($userKey))
	                               selected="selected"
	                            #end
	                        >$cfValueEncoder.encodeForHtml($userKey)</option>
	                    #end
	                </select>
	            </div>
				<input name="groupID" type="hidden" value="$setting.getID()" />
	            <div class="buttons-container">
	                <div class="buttons">
	                    <input class="button" type="submit" value="Edit settings group"
	                    formaction="${baseurl}/secure/action/FieldsSettingsWebwork!edit.jspa">
		                <input class="button" type="submit" value="Delete settings group"
		                formaction="${baseurl}/secure/action/FieldsSettingsWebwork!delete.jspa">
	                </div>
	            </div>
			</form>
        #end


		<form class="aui select2-custom-field-picker" method="post"
			action="${baseurl}/secure/action/FieldsSettingsWebwork!save.jspa"
        	id="custom-fields-keys-form" name="custom-fields-keys-form-name">
	        <div class="field-group">
	            <label for="description">Description</label>
	            <input class="text" type="text" id="description"
                	name="description">
	        </div>
	        <div class="field-group">
				<label for"customFieldsKeysToSave">Custom Field's keys</label>
				<select name="customFieldsKeysToSave" id="custom-fields-keys-select"
					class="custom-fields-keys-select-class"
					class="multi-select" multiple="multiple">
	                <option></option>
	                #foreach($customFieldKey in $allCustomFieldsKeys)
	                    <option value="$customFieldKey"
	                        #if ($savedCustomFieldsKeys && $savedCustomFieldsKeys.contains($customFieldKey))
	                           selected="selected"
	                        #end
	                    >$cfValueEncoder.encodeForHtml($customFieldKey)</option>
	                #end
	            </select>
	        </div>
            <div class="field-group">
	            <label for"usersToSave">Users, allowed to edit these fields</label>
                <select name="usersToSave" id="users-to-save-select"
                class="users-to-save-select-class"
                    class="multi-select" multiple="multiple">
                    <option></option>
                    #foreach($userKey in $allUsers)
                        <option value="$userKey"
                            #if ($savedUsers && $savedUsers.contains($userKey))
                               selected="selected"
                            #end
                        >$cfValueEncoder.encodeForHtml($userKey)</option>
                    #end
                </select>
            </div>
            <div class="buttons-container">
                <div class="buttons">
	                <input class="button" type="submit" value="Save new settings group">
	                <a class="cancel" href="#">Cancel</a>
                </div>
            </div>
		</form>
	</body>
</html>
